body {

margin:0;
font-family:Arial;
background:linear-gradient(135deg,#ff0080,#ff8c00);
text-align:center;
color:white;

}

.container{

max-width:900px;
margin:auto;
padding:20px;

}

select,button{

padding:10px;
margin:5px;
border-radius:8px;
border:none;

}

button{

background:#ff3c00;
color:white;
font-weight:bold;
cursor:pointer;

}

.clear-btn{

background:black;

}

.mala{

width:250px;
height:250px;
border:15px dotted brown;
border-radius:50%;
margin:30px auto;
animation:rotate 12s linear infinite;

display:flex;
align-items:center;
justify-content:center;

}

.counter{

width:180px;
height:180px;

background:white;
color:black;

border-radius:50%;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

cursor:pointer;

}

.counter span{

font-size:30px;
font-weight:bold;

}

#history{

background:rgba(255,255,255,0.2);
padding:15px;
border-radius:10px;
margin-top:20px;

}

.history-item{

padding:6px;
border-bottom:1px solid white;

}

@keyframes rotate{

from{transform:rotate(0deg);}
to{transform:rotate(360deg);}

}

.popup{

display:none;
position:fixed;
width:100%;
height:100%;
top:0;
background:rgba(0,0,0,0.6);

}

.popup-content{

background:white;
color:black;

width:300px;
padding:20px;
border-radius:10px;

margin:150px auto;

}